html {
  scroll-behavior: smooth;
}

* {
  text-align: center;
  box-sizing: border-box;
  font-family: "Secular One", sans-serif;
}

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.logo {
  padding: 2rem 0 5rem 0;
}

.board {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 10px;
  border-image: linear-gradient(to right, #ff5555 25%, #ff9c55 25%, #ffd913 50%, #1fc11b 25%, #323f7a 25%, #f32eb8 25%) 5;
  box-shadow: #f5831a 0px 0px 0px 3px inset, white 10px -10px 0px -3px, #1fc11b 10px -10px, white 20px -20px 0px -3px, #ffd913 20px -20px, white 30px -30px 0px -3px, #ff9c55 30px -30px, white 40px -40px 0px -3px, #ff5555 40px -40px;
}

.box {
  display: grid;
  align-items: center;
  font-size: 35px;
  color: black;
}

.active {
  border: 1px solid #f5831a;
  border-radius: 5px;
  background-color: #f5831a;
}

.words-list {
  width: 250px;
  height: 100px;
  border: 2px #f5831a solid;
  border-radius: 10px;
}

.justify-center {
  display: grid;
  justify-items: center;
}