html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Secular One", sans-serif;
  margin: 0;
}

h3,
p,
span {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.logo {
  padding: 2rem 0 3rem 0;
}

.justify-center,
.box {
  display: grid;
  justify-items: center;
}

.align-center,
.box,
h3 {
  display: grid;
  align-items: center;
}

.board {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 10px;
  box-shadow: #f5831a 0px 0px 0px 3px inset, white 10px -10px 0px -3px, #1fc11b 10px -10px, white 20px -20px 0px -3px, #ffd913 20px -20px, white 30px -30px 0px -3px, #ff9c55 30px -30px, white 40px -40px 0px -3px, #ff5555 40px -40px;
  gap: 0.7rem;
}

.box {
  border: 2px solid #f5831a;
  border-radius: 50%;
  font-size: 35px;
  color: black;
}

.active {
  border: 1px solid #f5831a;
  border-radius: 5px;
  background-color: #f5831a;
}

@media screen and (min-width: 768px) {
  .logo {
    padding: 2rem 0 8rem 0;
  }

  .error-message {
    font-size: 0;
  }

  .flex {
    display: flex;
    gap: 0.7rem;
  }

  .two-column-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .points,
.words-list {
    color: #f5831a;
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .hide-small-screen {
    font-size: 0;
  }
}