* {
  text-align: center;
  box-sizing: border-box;
}

.board {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  border: 1px solid black;
  display: grid;
  align-items: center;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}
